@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');


.container {
    /* background-color: #909E80; */
    font-family: 'Inter', sans-serif;
    background-color: #F3F5FC;

    max-width: 100vw;
    min-height: 98vh;
}

.container-header {
    border: 1px solid red;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.app-name {
    border: 1px solid red;
    font-size: 1.8em;
    font-weight: bold;
    color: #0A3871;
}

.logo {
    border: 1px solid red;
    font-size: 1.8em;
    font-weight: bold;
    color: #0A3871;

}

.social {
    border: 1px solid red;
}

.container-main {

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.text {
    font-size: 1.5em;
    font-weight: bold;
    color: #0A3871;
    padding: 5px;
}

.container-footer {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
}

.input-text-area {
    /* border: 1px solid blue; */
    display: grid;
    place-items: center;
    padding: 10px;
}

.output-text-area {
    /* border: 1px solid blue; */
    display: grid;
    place-items: center;
    padding: 10px;
}

.input-text {
    /* background-color: #B9C7A9; */
    background-color: #FFFFFF;
    color: #0A3871;
    border-radius: 2%;
}

.output-text {
    /* background-color: #B9C7A9; */
    background-color: #FFFFFF;
    color: #0A3871;
    border-radius: 2%;
}

.buttons-area {
    align-items: center;
}

button {
    background-color: #0A3871;
    border: 1px solid #0A3871;
    margin: 10px;
    padding: 15px 20px;
    border-radius: 24px;
    transition: .3s;
    color: #fff;
    font-size: 1.3em;
    width: 9em;
}

button:hover {
    border: 1px solid #0A3871;
    background-color: transparent;
    color: #0A3871;
}




/*========================ARRUMAR*/

.container-menu div {
    /* color: 5px solid green; */
}

.app-name {
    color: 10px solid black;
}

.social {

    display: flex;
    justify-content: center;
    align-items: center;
    /* display: block;
	position: absolute; */
    /* width: 100%; */
    /* left: 0; */
    /* bottom: 7.2rem; */
    /* font-size: 1rem; */
    /* margin: 0;
	padding: 0; */
}

.social li {

    list-style: none;
    margin: 0 20px;
    padding: 0;
}

.social li a {
    /* border: 2px solid green; */
    text-decoration: none;
    color: blue;
}


/* .social li a:hover, .intro-social li a:focus {
	color: #cc005f;
} */

.social i {
    color: cornflowerblue;
    font-size: 30px;
}